/* Reset element style's */
#reset_wrapper {
    background-color: #FFFFE8;
    border:1px solid rgba(0, 0, 0, 0.25);

    display: inline-block;
    width: 100px;
    height: 30px;

    margin-left: 0px;
    margin-top: 20px;

    float:left;
}
#reset_image {
    margin-top: -1px;
    display:inline-block;
}
#reset_text {

    display: inline-block;
    float:left;
    position: absolute;

    margin-top: 4px;
    margin-left: 5px;
}

/* Score element styles */
#score_wrapper {
    background-color: #FFFFE8;
    border:1px solid rgba(0, 0, 0, 0.25);

    display: block;
    position:absolute;

    width: 220px;
    height:30px;

    margin-top: 20px;
    margin-left: 20%;
    text-align: center;
}
#score_text{
    margin-top: 2%;
    font-weight: bold;
    font-size: 1.2em;
}

/* Main content */
#content_wrapper {
    background-color: #FFFFE8;
    border: 1px solid rgba(0,0,0,0.25);
    display:inline;
    float: left;

    width: 45%;
    max-width: 45%;
    height: 100%;

    margin-top:65px;
    margin-left: -100px;

    text-overflow: ellipsis;
    padding-bottom: 20px;
}
#situation {
    background-color: azure;
    border: 1px solid rgba(0,0,0,0.25);

    margin: 15px 15px 15px 15px;
}
#situation_text {
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}

/* Options content*/
#options_wrapper {
    background-color: #FFFFE8;
    border: 1px solid rgba(0,0,0,0.25);

    display: inline-block;
    width: 150px;

    margin-left: 2%;
    margin-top:65px;

    padding-bottom: 20px;
}
#option_text {
    display: inline-block;

    position: absolute;
    margin-top: 3px;
}

/*Reused classes*/
.dropable {
    display: inline-block;

    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;

    background-color: white;
    border: 1px solid rgba(0,0,0,0.25);

    color: rgba(88,88,88,0.5);
}
.question{
    display: inline-block;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 30px;
    margin-bottom: 2px;

    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.caption{
    margin-left: 15px;
    margin-right: 15px;
    margin-top:10px;
    margin-bottom: 10px;

    padding: 5px 5px 5px 5px;

    background-color: #87A0A1;
    border: 1px solid rgba(0,0,0,0.25);
}

/* Pseudo elements */
#option_image:hover {
    cursor: pointer;
}
#reset_wrapper:hover {
    cursor:pointer;
}


